@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
.wrapper {

    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper2 {
    display: flex;
    justify-content: center;
}

.container {
    width: 62.5%;
}



nav {
    display: flex;
    justify-content: space-between;
}

.links {
    width: 41.66%;

}

.ul-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 28px;
}